.erp-scrollbar{
  scrollbar-width:thin;

  scrollbar-color:
    rgba(255,255,255,.20)
    transparent;
}

.erp-scrollbar::-webkit-scrollbar{
  width:7px;
}

.erp-scrollbar::-webkit-scrollbar-track{
  background:transparent;
}

.erp-scrollbar::-webkit-scrollbar-thumb{
  min-height:32px;

  background:rgba(
    255,
    255,
    255,
    .20
  );

  border-radius:999px;
}

.erp-scrollbar::-webkit-scrollbar-thumb:hover{
  background:rgba(
    255,
    255,
    255,
    .28
  );
}